<!--Juego.erb-->

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<center>
<body>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	
	<h1>"Juguemos!!!"</h1>
	<h1> <%= session['mensaje'] %> </h1>
	<h2> <%= session['reto']%> </h2>
	
	
	<h2> <%= session['prueba']%> </h2>
	<input type="texto" name="l1" value= <%= session['l1']%> size="1" maxlength="1" disabled>
	<input type="texto" name="l2" value= <%= session['l2']%> size="1" maxlength="1" disabled>
	<input type="texto" name="l3" value= <%= session['l3']%> size="1" maxlength="1" disabled>
	<input type="texto" name="l4" value= <%= session['l4']%> size="1" maxlength="1" disabled>
	<input type="texto" name="l5" value= <%= session['l5']%> size="1" maxlength="1" disabled>
	<hr width:300px>

	
	<form action="/configurar" method="post">
		<input type="texto" name="intento" size="1" maxlength="1">
		<input type="submit" value="Adivinar">

	</form>
	
	<!--<h1>Recuerda que tienes hasta 5 intentos fallidos</h1>-->
	<h2> <%= session['resultado']%> </h2>

	<h2> <%= session['historico']%> </h2>
</body></center>
</html>